# Ignore Python virtual environments
env/
backend/env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db
